
# Except thse files with "dota2_ai_fun" in path
**/*.vcss_c
**/*.vjs_c
**/*.vxml_c
**/*.vpcf_c
**/*.bin
**/*.bak
**/*.dat
tontyoutoure
.vscode
panorama_debugger.cfg
custom_game_whitelist.txt
test.lua
