# ignore everything
*

# Except thse files with "dota2_ai_fun" in path
!**/dota2_ai_fun/**/*.css
!**/dota2_ai_fun/**/*.js
!**/dota2_ai_fun/**/*.lua
!**/dota2_ai_fun/**/*.png
!**/dota2_ai_fun/**/*.vmap
!**/dota2_ai_fun/**/*.txt
!**/dota2_ai_fun/**/*.vtex_c
!**/dota2_ai_fun/**/*.xml
!**/dota2_ai_fun/**/*.vsndevts_c
