.AddonLoadingRoot
{
	width: 100%;
	height: 100%;
	background-color: black;
	overflow: clip;
}

.ChatLineAreaOpacity
{
	opacity:0.2;
}
 
#CustomBg
{
	width: 100%;
	height: 100%;
	overflow: clip;
	background-image: url("s2r://panorama/images/custom_game/loading_screen/gamemode.png");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 50% 50%;
}

#game_options_container
{
	width: 550px;
	height: 100%;
	background-color: gradient( linear, 100% 0%, 100% 100%, from( #111111 ), color-stop( 0.02, #202327 ), color-stop( 0.3, #141619 ), to( #000000B0 ) );
	box-shadow: #000000 0px 0px 20px 0px;
	flow-children: down;
	visibility: collapse;	
}

#GameOptionsPanel
{
	margin-top: 1%;
	margin-left: 5px;
	width: 100%;
	height: 100%;
	flow-children: down;
	transition-property: opacity;
	transition-delay: 0.0s;
	transition-duration: 0.4s;
	transition-timing-function: ease-in-out;
}


#GameOptionsPanelTitle
{
	font-size: 32px;
	color: #FF7800;
	text-align: center;
	font-weight: bold;
	horizontal-align: center;
}

#GameOptionSubpanelContainerOuter
{
	height:100%;
	width:100%;
	flow-children:up;
}

#SaveAndLoadPanel
{
	flow-children:right;
	width:100%;
}


#PageSelection
{
	flow-children:right;
	width:100%;
}

#GameOptionSubpanelContainerMiddle
{
	width:100%;
	height:100%;
}
.GameOptionSubpanelContainerInner
{
	vertical-align:top;
	flow-children:down;
	width:100%;
	visibility:collapse;
}
#GameOptionHider
{
	width:100%;
	height:100%;
}
.GameOptionsSubPanel
{
    flow-children: right;
	margin-top: 20px;
	width: 100%;
	tooltip-position: left;
}

.GameOptionsSubPanel Label
{
	text-align: left;
	horizontal-align: middle;
	vertical-align:center;
	color: #ffffff;
	
}

.GameOptionsSubPanel .GameOptionsDropdown
{
	margin-left: 10px;
	width: 200px;
	horizontal-align:right;
	flow-children:down;
}

.GameOptionsToggle
{
	margin-left: 10px;
	horizontal-align:right;
}


/* Confirm options button */
.GameOptionButton
{
	margin-top: 30px;
	width: 100%;
	height: 40px;
	background-image: url("s2r://panorama/images/backgrounds/background_play_button_large_2x_png.vtex");
	background-size: 100% 100%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #303090FF ), to( #4444D0FF ) );
	box-shadow: #000000 0px 0px 10px 0px;
	transition-property: background-color;
	transition-duration: 0.2s;
}
#HostSettingGameOptions
{
	margin-top: 30px;
	width: 100%;
	height: 40px;
	background-size: 100% 100%;
	box-shadow: #000000 0px 0px 10px 0px;
	transition-property: background-color;
	transition-duration: 0.2s;
}
.HostSettingGameOptions Label
{
	font-size: 24px;
	horizontal-align: center;
	vertical-align: center;
	color: #ffffff;
}




.GameOptionButton:hover
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #4444D0FF ), to( #6464F0FF ) );
	box-shadow: #000000 0px 0px 25px 0px;
}

.GameOptionButton:active
{
	transform: translate3d(1px, 1px, 0px);
	sound:"ui_team_select_lock_and_start";
}

.GameOptionButton Label
{
	font-size: 24px;
	horizontal-align: center;
	vertical-align: center;
	color: #ffffff;
}


.GameOptionBottomContainer
{
	flow-children:right;
	margin-top: 30px;
	width: 100%;
	height: 40px;
	background-size: 100% 100%;
	background-color: #000000;
	box-shadow: #000000 0px 0px 10px 0px;
	transition-property: background-color;
	transition-duration: 0.2s;
}
#GameOptionVoteContainer
{
	visibility:collapse;
}
.GameOptionVoteOptionContainer
{
	width:40%;
	height:100%;
}

#GameOptionVoteTimer {
	width:20%;
	height:100%;
}
.GameOptionBottomContainer Label
{
	font-size: 24px;
	horizontal-align: center;
	vertical-align: center;
	color: #FFFFFF;
}
#GameOptionVoteButtonYay
{
	width:98%;
	height:98%;
	horizontal-align:middle;
	vertical-align:center;
	background-color: #AAFFAA11;
}
#GameOptionVoteButtonYay:active
{
	transform: translate3d(1px, 1px, 0px);
	sound: "ui_team_select_lock_and_start";
}

#GameOptionVoteButtonNay
{
	width:98%;
	height:98%;
	horizontal-align:middle;
	vertical-align:center;
	background-color: #FFAAAA11;
}
#GameOptionVoteButtonNay:active
{
	transform: translate3d(1px, 1px, 0px);
	sound: "ui_team_select_cancel_and_lock";
}
#LoadOptionsBtn
{
	margin-top:10px;
	width:49%;
	margin-right:1%;
}
#SaveOptionsBtn
{
	margin-top:10px;
	width:49%;
	margin-left:1%;
}

#PreviousPageBtn
{
	margin-top:10px;
	width:49%;
	margin-right:1%;
	horizontal-align:left;
}
#NextPageBtn
{
	margin-top:10px;
	width:49%;
	margin-left:1%;
	horizontal-align:right;
}

#LockOptionsBtn
{
	margin-top:10px;
}

#UnlockOptionsBtn
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #903030FF ), to( #D04444FF ) );
	visibility:collapse;
}

#UnlockOptionsBtn:hover 
{	
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #D04444FF ), to( #F06464FF ) );
}


.MiddleLargeButton
{
	margin-top: 30px;
	width: 100%;
	height: 50px;
	background-image: url("s2r://panorama/images/backgrounds/background_play_button_large_2x_png.vtex");
	background-size: 100% 100%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #303090FF ), to( #4444D0FF ) );
	box-shadow: #000000 0px 0px 10px 0px;
	transition-property: background-color;
	transition-duration: 0.2s;
	tooltip-position: left;
}

.MiddleLargeButton:hover
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #4444D0FF ), to( #6464F0FF ) );
	box-shadow: #000000 0px 0px 25px 0px;
}

.MiddleLargeButton:active
{
	transform: translate3d(1px, 1px, 0px);
}

.MiddleLargeButton Label
{
	font-size: 32px;
	horizontal-align: center;
	vertical-align: center;
	color: #ffffff;
}

.MiddleLargeButtonWithoutHover
{
	margin-top: 30px;
	width: 100%;
	height: 50px;
	background-image: url("s2r://panorama/images/backgrounds/background_play_button_large_2x_png.vtex");
	background-size: 100% 100%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #303090FF ), to( #4444D0FF ) );
	box-shadow: #000000 0px 0px 10px 0px;
	transition-property: background-color;
	transition-duration: 0.2s;
	tooltip-position: left;
}

.MiddleLargeButton:hover
{
	box-shadow: #000000 0px 0px 25px 0px;
}

.MiddleLargeButtonWithoutHover:active
{
	transform: translate3d(1px, 1px, 0px);
	sound: "ui_team_select_lock_and_start";
}

.MiddleLargeButtonWithoutHover Label
{
	font-size: 32px;
	horizontal-align: center;
	vertical-align: center;
	color: #ffffff;
}
#HideGameOptionButton 
{	
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #903030FF ), to( #D04444FF ) );
	visibility:collapse;
}

#HideGameOptionButton:hover 
{	
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #D04444FF ), to( #F06464FF ) );
}

#JoinUsButton
{
	margin-bottom:70px;
	vertical-align:bottom;
}


#DiscordChannelButton
{
	margin-top: 30px;
	width: 100%;
	height: 50px;
	background-image: url("s2r://panorama/images/backgrounds/background_play_button_large_2x_png.vtex");
	background-size: 100% 100%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #303090FF ), to( #4444D0FF ) );
	box-shadow: #000000 0px 0px 10px 0px;
	transition-property: background-color;
	transition-duration: 0.2s;
}

#DiscordChannelButton:hover
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #4444D0FF ), to( #6464F0FF ) );
	box-shadow: #000000 0px 0px 25px 0px;
}

#DiscordChannelButton:active
{
	transform: translate3d(1px, 1px, 0px);
}

#DiscordChannelLabel
{
	font-size: 32px;
	horizontal-align: center;
	vertical-align: center;
	color: #ffffff;
}

#ChatHideButtonContainer
{
	height:32px;
	width: 200px;
	vertical-align:bottom;
	margin-bottom:20px;
}

.ChatHideButtonContainerPos16_9
{
	margin-left:720px;
}

.ChatHideButtonContainerPos4_3
{
	margin-left:600px;
}

.ChatHideButtonContainerPos16_10
{
	margin-left:720px;
}

.ChatHideButton
{
	height:100%;
	width:100%;
	visibility:collapse;
}



#ChatHideButtonHide
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #DD5555FF ), to( #FF0000FF ) );
}

#ChatHideButtonShow
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #5555DDFF ), to( #0000FFFF ) );
}

.ChatHideButton:active
{
	transform: translate3d(1px, 1px, 0px);
	sound: "ui_team_select_cancel_and_lock";
}

.ChatHideButton:hover
{
	box-shadow: #000000 0px 0px 25px 0px;
}

.ChatHideButton .ChatHideButtonLabel
{
	font-size: 22px;
	horizontal-align: center;
	vertical-align: center;
	color: #ffffff;
	vertical-align:middle;
}

#ChatHideButtonShow:active
{
	sound:"ui_team_select_lock_and_start";
}
.HalfTransParent
{
	opacity:0.1;
	visibility:collapse;
}

#UploadDownloadNotificationPanel
{
	width:400px;
	height:40px;
	background-color:black;
	vertical-align:bottom;
	margin-bottom:50px;
	margin-left:560px;
	visibility:collapse;
}

#UploadDownloadNotificationPanel Label
{
	vertical-align:middle;
	font-size:20px;
}