.AddonLoadingRoot
{
	width: 100%;
	height: 100%;
	background-color: black;
	overflow: clip;
}
 
#CustomBg
{
	width: 100%;
	height: 100%;
	overflow: clip;
	background-image: url("file://{images}/custom_game/loading_screen/gamemode.png");
	background-repeat: no-repeat;
	background-position: 25% 50%;
	background-size: 50% 50%;
}

#game_options_container
{
	width: 400px;
	height: 100%;
	background-color: gradient( linear, 100% 0%, 100% 100%, from( #111111 ), color-stop( 0.02, #202327 ), color-stop( 0.3, #141619 ), to( #000000B0 ) );
	box-shadow: #000000 0px 0px 20px 0px;
	flow-children: down;
	visibility: collapse;	
}

#GameOptionsPanel
{
	margin-top: 60px;
	margin-left: 5px;
	width: 100%;
	height: 100%;
	flow-children: down;
	transition-property: opacity;
	transition-delay: 0.0s;
	transition-duration: 0.4s;
	transition-timing-function: ease-in-out;
}


#GameOptionsPanelTitle
{
	font-size: 32px;
	color: #FF7800;
	text-align: center;
	font-weight: bold;
	horizontal-align: center;
}

.GameOptionsSubPanel
{
    flow-children: right;
	margin-top: 20px;
	width: 100%;
}

.GameOptionsLabel
{
	text-align: left;
	horizontal-align: middle;
	vertical-align:center;
	color: #ffffff;
	
}

.GameOptionsSubPanel .GameOptionsDropdown
{
	margin-left: 10px;
	width: 200px;
	horizontal-align:right;
}

.GameOptionsToggle
{
	margin-left: 10px;
	horizontal-align:right;
}


/* Confirm options button */
#ConfirmOptionsBtn
{
	margin-top: 30px;
	width: 400px;
	height: 40px;
	background-image: url("s2r://panorama/images/backgrounds/background_play_button_large_2x_png.vtex");
	background-size: 100% 100%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #303090FF ), to( #4444D0FF ) );
	box-shadow: #000000 0px 0px 10px 0px;
	transition-property: background-color;
	transition-duration: 0.2s;
}



#ConfirmOptionsBtn:hover
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #4444D0FF ), to( #6464F0FF ) );
	box-shadow: #000000 0px 0px 25px 0px;
}

#ConfirmOptionsBtn:active
{
	transform: translate3d(1px, 1px, 0px);
	sound: "ui_team_select_lock_and_start";
}

#ConfirmOptionsBtn Label
{
	font-size: 24px;
	horizontal-align: center;
	vertical-align: center;
	color: #ffffff;
}

#HeroDescriptionContainer
{
	width: 550px;
	height: 100%;
	horizontal-align: left;
	margin-left:25%;
	background-color:  #202327;
	opacity: 0.9;
	box-shadow: #000000 0px 0px 20px 0px;
	flow-children: down;
}

#HeroDescriptionTitle
{
	margin-top: 5%;
	font-size: 36px;
	horizontal-align: center;
	color: #ffffff;	
	font-weight: bold;
}

#HeroDescriptionPanel
{
	horizontal-align: middle;
    flow-children: down;
	width: 100%;
}

.HeroAvatarButtonLine
{
	margin-top:10px;
	margin-left:10px;
	width: 100%;
	flow-children: right;
}

.HeroAvatarButton
{
	margin-left:4px;
	margin-right:4px;
	width: 128px;
	height: 72px;
	box-shadow: gold 0px 0px 5px 0px;
	transition-property: background-color;
	transition-duration: 0.2s;
	
}

.HeroAvatarButton:active
{
	box-shadow: gold 0px 0px 10px 0px;
	
}

.HeroAvatar
{
	width:100%;
	height:100%;
	horizontal-align: center;
}

.HeroAvatarCover
{
	width:100%;
	height:100%;
	background-color: #FFD70099;
	visibility:collapse;
}

#HeroDescriptionPopPanelContainer
{
	width: 550px;
	height: 100%;
	vertical-align: top;
	margin-left:25%;
	horizontal-align: left;
	visibility: collapse;
}

.HeroDescriptionPopPanelTop
{
	vertical-align:top;
	margin-top:40px;
	width: 100%;
	visibility: collapse;
	background-color:  #202327;
	box-shadow: #000000 0px 0px 20px 0px;
	flow-children: down;
}



.HeroDescriptionPopPanel
{
	vertical-align:top;
	margin-top:490px;
	width: 100%;
	visibility: collapse;
	background-color:  #202327;
	box-shadow: #000000 0px 0px 20px 0px;
	flow-children: down;
}

.HeroName
{
	margin-top: 3%;
	font-size: 28px;
	horizontal-align: center;
	color: #9999ff;	
	font-weight: bold;
}

.HeroBio
{
	margin-top: 3%;
	margin-left: 4%;
	margin-right: 4%;
	font-size: 20px;
	horizontal-align: left;
	color: #ffffff;
}

.AbilityLine
{
	horizontal-align:center;
	height:64px;
	margin-top: 3%;
	flow-children: right;
}

.AbiliyLine .AbilityIcon
{
	width: 64px;
	height: 64px;
	horizontal-align: left;
	margin-left:20px;
	overflow: squish;
	background-color: white;
}

#JoinUsButton
{
	margin-top: 30px;
	width: 100%;
	height: 50px;
	background-image: url("s2r://panorama/images/backgrounds/background_play_button_large_2x_png.vtex");
	background-size: 100% 100%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #303090FF ), to( #4444D0FF ) );
	box-shadow: #000000 0px 0px 10px 0px;
	transition-property: background-color;
	transition-duration: 0.2s;
}

#JoinUsButton:hover
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #4444D0FF ), to( #6464F0FF ) );
	box-shadow: #000000 0px 0px 25px 0px;
}

#JoinUsButton:active
{
	transform: translate3d(1px, 1px, 0px);
}

#JoinUsButtonLabel
{
	font-size: 32px;
	horizontal-align: center;
	vertical-align: center;
	color: #ffffff;
}


#DiscordChannelButton
{
	margin-top: 30px;
	width: 100%;
	height: 50px;
	background-image: url("s2r://panorama/images/backgrounds/background_play_button_large_2x_png.vtex");
	background-size: 100% 100%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #303090FF ), to( #4444D0FF ) );
	box-shadow: #000000 0px 0px 10px 0px;
	transition-property: background-color;
	transition-duration: 0.2s;
}

#DiscordChannelButton:hover
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #4444D0FF ), to( #6464F0FF ) );
	box-shadow: #000000 0px 0px 25px 0px;
}

#DiscordChannelButton:active
{
	transform: translate3d(1px, 1px, 0px);
}

#DiscordChannelLabel
{
	font-size: 32px;
	horizontal-align: center;
	vertical-align: center;
	color: #ffffff;
}
#HeroSelectionLabel
{
	font-size: 32px;
	horizontal-align: center;
	vertical-align: center;
	color: #ffffff;
}

.HeroSelectionButtonContainer{
	margin-top: 20px;
	width: 100%;
	height: 50px;
}

.HeroSelectionButton{
	margin-top:10px;
	width: 100%;
	height: 50px;
	background-image: url("s2r://panorama/images/backgrounds/background_play_button_large_2x_png.vtex");
	background-size: 100% 100%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #5555DDFF ), to( #0000FFFF ) );
	box-shadow: #000000 0px 0px 10px 0px;
	transition-property: background-color;
	transition-duration: 0.2s;
}
.HeroSelectionButton:hover
{
	box-shadow: #000000 0px 0px 25px 0px;
}

.HeroSelectionButton:active
{
	transform: translate3d(1px, 1px, 0px);
	sound: "ui_team_select_lock_and_start";
}


#HeroUnselectionLabel
{
	font-size: 32px;
	horizontal-align: center;
	vertical-align: center;
	color: #ffffff;
}


.HeroUnselectionButton{
	margin-top:10px;
	width: 100%;
	height: 50px;
	background-image: url("s2r://panorama/images/backgrounds/background_play_button_large_2x_png.vtex");
	background-size: 100% 100%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #DD5555FF ), to( #FF0000FF ) );
	box-shadow: #000000 0px 0px 10px 0px;
	transition-property: background-color;
	transition-duration: 0.2s;
	visibility:collapse;
}
.HeroUnselectionButton:hover
{
	box-shadow: #000000 0px 0px 25px 0px;
}

.HeroUnselectionButton:active
{
	transform: translate3d(1px, 1px, 0px);
	sound: "ui_team_select_cancel_and_lock";
}

#ChatHideButtonContainer
{
	height:32px;
	width: 100px;
	vertical-align:bottom;
	margin-bottom:20px;
	margin-left:720px;
}
.ChatHideButton
{
	height:100%;
	width:100%;
	visibility:collapse;
}

#ChatHideButtonHide
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #DD5555FF ), to( #FF0000FF ) );
}

#ChatHideButtonShow
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #5555DDFF ), to( #0000FFFF ) );
}

.ChatHideButton:active
{
	transform: translate3d(1px, 1px, 0px);
	sound: "ui_team_select_cancel_and_lock";
}

.ChatHideButton .ChatHideButtonLabel
{
	font-size: 22px;
	horizontal-align: center;
	vertical-align: center;
	color: #ffffff;
	vertical-align:middle;
}