.HeroSelectionBase
{
	width:100%;
	height:100%;
}

#HeroSelectionBlocker
{
	width:100%;
	height:640px;
	margin-top:190px;
	vertical-align:top;
	visibility:collapse;
}

#FunHeroSelectButtonContainer
{
	margin-left:170px;
	margin-top:100px;
	flow-children:right;
	visibility:collapse;
}

#FunHeroSelectButton
{
	width:260px;
	height:70px;
	box-shadow:gold -2px -2px 4px 4px;
	background-color:gradient( linear, 0% 0%, 100% 0%, from( red ), to( purple ) );
}

#FunHeroSelectButton Label
{
	font-size: 30px;
	horizontal-align: middle;
	vertical-align:center ;
	color: silver;	
}

#FunHeroSelectButton:hover
{
	brightness: 1.2;
}

#FunHeroRandomButton
{
	width:140px;
	height:70px;
	margin-left:15px;
	box-shadow:gold -2px -2px 4px 4px;
	background-color:gradient( linear, 0% 0%, 100% 0%, from( red ), to( purple ) );
}
#FunHeroRandomButton:active
{
	sound:"ui.pick_play";
}

#FunHeroRandomButton:hover
{
	brightness: 1.2;
}

#FunHeroRandomButton Label
{
	font-size: 18px;
	horizontal-align: middle;
	vertical-align:bottom ;
	margin-bottom:0px;
	color: silver;	
}
#FunHeroRandomButtonIcon
{
	width:34px;
	height:38px;
	horizontal-align:middle;
	vertical-align:top;
	background-image:url("s2r://panorama/images/control_icons/random_dice_psd.vtex");
	background-size:contain;
	wash-color:silver;
	margin-top:4px;
}


#HeroSelectionOptionContainer
{
	width: 550px;
	height: 100%;
	visibility:collapse;
	horizontal-align: left;
	margin-left:560px;
	background-color:  #202327fd;
	box-shadow: #000000 0px 0px 20px 0px;
	flow-children: down;
}
#HeroSelectionOptionContainerTitle
{
	margin-top: 1%;
	font-size: 36px;
	horizontal-align: center;
	color: #ffffff;	
	font-weight: bold;
}
#HeroSelectionOptionContainerWait
{
	margin: 50px;
	font-size: 26px;
	horizontal-align: center;
	color: gold;	
	font-weight: bold;
}
#HeroSelectionOptionPanel
{
	margin-top:50px;
	width:100%;
	flow-children:down;
}

.HeroSelectionOptionLabel
{
	font-size:25px;
	text-align: left;
	horizontal-align: left;
	margin-left:10px;
	vertical-align:center;
	color: #ffffff;
}

.HeroSelectionOptionToggle
{
	margin-left: 10px;
	horizontal-align:right;
	margin-right:10px;
	vertical-align:center;
}

#HeroSelectionContainer
{
	width: 1200px;
	height:640px;
	visibility:collapse;
	horizontal-align: left;
	margin-top:190px;
	margin-left:126px;
	flow-children: down;
}


#HeroSelectionTitle
{
	margin-top: 1%;
	font-size: 36px;
	horizontal-align: center;
	color: #ffffff;	
	font-weight: bold;
}

#HeroTypeSelectionBtnContainer
{
	height:50px;
	horizontal-align: middle;
    flow-children: right;
	width: 100%;
}
.HeroTypeSelectionBtn
{
	height:100%;
	margin-left:1%;
	margin-right:1%;
	width:48%;
	background-size: 100% 100%;
	transition-property: background-color;
	transition-duration: 0.2s;
	tooltip-position: left;
}

.HeroTypeSelectionBtn:active
{
	transform: translate3d(1px, 1px, 0px);
	sound: "ui_team_select_lock_and_start";
}

.HeroTypeSelectionBtnLabel
{
	font-size: 30px;
	horizontal-align: middle;
	vertical-align:center ;
	color: #aaaaaa;	
	font-weight: bold;
	color:#ffffff;
}

.HeroTypeSelectionBtnActivated
{
	background-color:#FFCA15;
}

.fontcolorwhite1
{
}

.fontcolorwhite2
{
	color:#ffffff;
}


#HeroSelectionPanelContainer
{
	height:100%;
	width: 100%;
	flow-children:right;
}
.HeroSelectionPanel
{
    flow-children: down;
	width: 50%;
	height:100%;
}

.HeroAvatarButtonLine
{
	margin-top:10px;
	flow-children: right;
	width: 548px;
	horizontal-align:middle;
}

.HeroAvatarButton
{
	margin-left:5px;
	margin-right:4px;
	width: 128px;
	height: 72px;
	box-shadow: #D5E3F5 0px 0px 3px 0px;
	transition-property: background-color;
	transition-duration: 0.2s;
	
}

.HeroAvatarButtonActive
{
	box-shadow: gold 0px 0px 10px 0px;
}

.HeroAvatar
{
	width:100%;
	height:100%;
	horizontal-align: center;
}

.HeroAvatarCover
{
	width:100%;
	height:100%;
	background-color: #FFD70099;
	visibility:collapse;
}

#HeroDescriptionPopPanelContainer
{
	width: 580px;
	height: 100%;
	vertical-align: top;
	margin-left:0;
	horizontal-align: right;
	visibility: collapse;
}

.HeroDescriptionPopPanelTop
{
	vertical-align:top;
	margin-top:40px;
	width: 100%;
	visibility: collapse;
	background-color:  #202327;
	box-shadow: #000000 0px 0px 20px 0px;
	flow-children: down;
}



.HeroDescriptionPopPanel
{
	margin-top:0px;
	vertical-align:top;
	height: 100%;
	width: 100%;
	visibility: collapse;
	background-color:  #202327;
	box-shadow: #000000 0px 0px 20px 0px;
	flow-children: down;
}

.HeroNameLine
{
	margin-top: 3%;
	height:32px;
	max-width:100%;
	flow-children:right;
	horizontal-align:middle;
}

.HeroName
{
	font-size: 26px;
	horizontal-align:middle;
	vertical-align:middle;
	color: #9999ff;	
	font-weight: bold;
	line-height: 32px;
}

.HeroAttributeContainer
{
	width:32px;
	height:32px;
	margin-left:5px;
	background-repeat: no-repeat;
	background-size:contain;
}

.HeroPrimaryAttributeStrength
{
	background-image:url("s2r://panorama/images/primary_attribute_icons/primary_attribute_icon_strength_psd.vtex");
}

.HeroPrimaryAttributeAgility
{
	background-image:url("s2r://panorama/images/primary_attribute_icons/primary_attribute_icon_agility_psd.vtex");
}

.HeroPrimaryAttributeIntelligence
{
	background-image:url("s2r://panorama/images/primary_attribute_icons/primary_attribute_icon_intelligence_psd.vtex");
}

.HeroBio
{
	margin-top: 3%;
	margin-left: 4%;
	margin-right: 4%;
	font-size: 20px;
	horizontal-align: left;
	color: #ffffff;
	line-height: 22px;
}

.HeroAbilityTitle
{
	font-size: 33px;
	line-height: 16px;
	text-align: center;
	vertical-align: middle;
	horizontal-align:center;
	text-shadow: 0px 0px 0.5px 3.7 #000000ff;
	color: #e1e1e1;
}

.AbilityLine
{
	horizontal-align:center;
	margin-top: 5px;
	height:90px;
	max-width:100%;
	flow-children: right;
	background-color: #00000022;
}

.AbilityIconContainer
{
	width:80px;
	height:80px;
	margin:5px;
	box-shadow: #AAAAFF22 0px 0px 5px 0px;
}

.AbiliyLine .AbilityIcon
{
	width:80px;
	height:80px;
	overflow: squish;
}

.AbilityLine .TalentBranch
{
	horizontal-align: middle;
	margin-left:50px;
	background-color:#00000055;
	overflow: squish;
	width:70px;
	height:70px;
	background-image: url("s2r://panorama/images/spellicons/statbranch_psd.vtex");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	wash-color: #9999ff;
}

.HeroTalentContainer
{
	margin-top:10px;
	width:100%;
	flow-children:down;
}

.HeroTalentContainer .HeroTalentTitle
{
	font-size: 33px;
	line-height: 16px;
	text-align: center;
	vertical-align: middle;
	horizontal-align:center;
	text-shadow: 0px 0px 0.5px 3.7 #EC780E24;
	color: #E7D291;
}

.HeroTalentContainer .HeroTalentLine
{
	margin-top:5px;
	height:50px;
	width:100%;
	flow-children:right;
	background-color:#00000066;
}

.HeroTalentContainer .HeroTalentLine .HeroTalentLeft
{
	width:45%;
	height:100%;
	horizontal-align:left;
}

.HeroTalentContainer .HeroTalentLine .HeroTalentRight
{
	width:45%;
	height:100%;
	horizontal-align:right;
}

.HeroTalentContentLabel
{
	font-size: 18px;
	line-height: 16px;
	width: 240px;
	text-align: center;
	vertical-align: middle;
	horizontal-align:center;
	text-shadow: 0px 0px 1px 3.0 #00000077;
	color: #e1e1e1;
}

.HeroTalentContainer .HeroTalentLine .HeroTalentMiddle
{
	width:10%;
	height:100%;
	horizontal-align:middle;
}
.HeroTalentContainer .HeroTalentLine .HeroTalentMiddle .HeroTalentReqLabel
{
	font-family: RadianceM;
	font-weight: normal;
	text-shadow: 0px 0px 3px 3.7 #EC780E24;
	color: #E7D291;
	vertical-align: middle;
	horizontal-align: center;
	text-align: center;
	font-size: 28px;
	letter-spacing: 2px;
	margin-top: 4px;
	margin-right: 1px;
}

.HeroScepterInfoContainer
{
	width:100%;
	flow-children:down;
}


.HeroScepterInfoContainer .HeroScepterInfoTitle
{
	font-size: 33px;
	line-height: 16px;
	text-align: center;
	vertical-align: middle;
	horizontal-align:center;
	text-shadow: 0px 0px 0.5px 3.7 #000000ff;
	color: #e1e1e1;
}

.HeroScepterInfoContainer .HeroScepterAbilityContainer
{
	margin-top:10px;
	width:90%;
	horizontal-align:middle;
	flow-children:down;
	background-color:#292a2b;
}


.HeroScepterInfoContainer .HeroScepterAbilityContainer .HeroScepterAbilityTitleContainer
{
	horizontal-align:middle;
	flow-children:right;
	height:20px;
	margin:5px;
}

.HeroScepterInfoContainer .HeroScepterAbilityContainer .HeroScepterAbilityTitleContainer .HeroScepterAbilityTitleUpgrade
{
	font-size: 18px;
	line-height: 16px;
	vertical-align: middle;
	color: #f1f1f1;
}

.HeroScepterInfoContainer .HeroScepterAbilityContainer .HeroScepterAbilityTitleContainer .HeroScepterAbilityTitleName
{
	font-size: 18px;
	line-height: 16px;
	vertical-align: middle;
	color: #b1b1b1;
}

.HeroScepterInfoContainer .HeroScepterAbilityContainer .HeroScepterAbilityDescription
{
	font-size: 18px;
	line-height: 20px;
	vertical-align: middle;
	horizontal-align:middle;
	color: #b1b1b1;
}

.HeroSelectionButton{
	width: 100%;
	height: 50px;
	margin-top:5px;
	background-image: url("s2r://panorama/images/backgrounds/background_play_button_large_2x_png.vtex");
	background-size: 100% 100%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #5555DDFF ), to( #0000FFFF ) );
	box-shadow: #000000 0px 0px 10px 0px;
	transition-property: background-color;
	transition-duration: 0.2s;
}
.HeroSelectionButton:hover
{
	box-shadow: #000000 0px 0px 25px 0px;
}

.HeroSelectionButton:active
{
	transform: translate3d(1px, 1px, 0px);
	sound: "ui_team_select_lock_and_start";
}

.HeroSelectionButton Label
{
	font-size: 32px;
	horizontal-align: center;
	vertical-align: center;
	color: #ffffff;
}



.HeroUnselectionButton{
	width: 100%;
	height: 50px;
	margin-top:5px;
	background-image: url("s2r://panorama/images/backgrounds/background_play_button_large_2x_png.vtex");
	background-size: 100% 100%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #DD5555FF ), to( #FF0000FF ) );
	box-shadow: #000000 0px 0px 10px 0px;
	transition-property: background-color;
	transition-duration: 0.2s;
	visibility:collapse;
}
.HeroUnselectionButton:hover
{
	box-shadow: #000000 0px 0px 25px 0px;
}

.HeroUnselectionButton:active
{
	transform: translate3d(1px, 1px, 0px);
	sound: "ui_team_select_cancel_and_lock";
}

.HeroUnselectionButton Label
{
	font-size: 32px;
	horizontal-align: center;
	vertical-align: center;
	color: #ffffff;
}

#BestWorstStatsSelectionContainer
{
	width: 100%;
	height:700px;
	visibility:collapse;
	flow-children:down;
}