@define rarity_color_common: #b0c3d9;
@define rarity_color_uncommon: #5e98d9;
@define rarity_color_rare: #4b69ff;
@define rarity_color_mythical: #8847ff;
@define rarity_color_legendary: #d32ce6;
@define rarity_color_ancient: #eb4b4b;
@define rarity_color_immortal: #e4ae39;
@define rarity_color_arcana: #ade55c;
@define rarity_color_seasonal: #fff34f;

#TestMask
{
	width: 500px;
	height: 500px;
	margin-left: 52px;
	vertical-align: center;
	overflow: clip;
	z-index: 1000000;
	background-color: red;

}
.TestClass1
{
	flow-children:right;
}

.label_color_immortal
{
	color:rarity_color_immortal;
}

.label_color_rare
{
	color:rarity_color_rare;
}

.label_color_common
{
	color:rarity_color_common;
}

.label_color_uncommon
{
	color:rarity_color_uncommon;
}

.label_color_mythical
{
	color:rarity_color_mythical;
}

.label_color_legendary
{
	color:rarity_color_legendary;
}

.label_color_ancient
{
	color:rarity_color_ancient;
}

.label_color_arcana
{
	color:rarity_color_arcana;
}

.label_color_seasonal
{
	color:rarity_color_seasonal;
}


.InvokerRetroBase
{
	width: 100%;
	height: 100%;
}
 

.AbilityButtonTooltipButton
{
	vertical-align:bottom;
	margin-left:1058px;
	width:58px;
	height:28px;
	margin-left:1058px;
	margin-bottom:136px;
	background-image:url("s2r://panorama/images/hud/invokercard_psd.vtex");
	background-size: 100%;
	width:58px;
	height:20px;
	z-index: 0;
	visibility:collapse;
}
.WithScepter
{
	margin-left:1087px;
}

.AbilityButtonTooltipButton:hover
{
	brightness: 2;
	saturation: 1.3;
}


.AbilityButtonTooltipButton .SpellsLabel
{
	font-family:RadianceM,Radiance,FZLanTingHei-R-GBK,TH Sarabun New,YDYGO 540,Gulim,MingLiU;
	font-size: 14;
	text-transform: uppercase;
	horizontal-align: center;
	vertical-align: middle;
	margin-top:3px;
	text-align: center;
	text-align:center;
	text-shadow: 0px 0px 3px 3 #00000033; 
	color: black;
	font-weight: bold;
	text-overflow: shrink;
	width:58px;
	height:20px;
}
.AbilityButtonTooltipButton:hover .SpellsLabel 
{
	color: #cccccc;
}

#SpellCardBase
{
	width: fit-children;
	vertical-align: bottom;
	margin-bottom: 250px;
	horizontal-align: middle;
	background-color: #000000CC;
	visibility:collapse;
	flow-children: up;
	box-shadow: #000000aa -4px -4px 8px 8px;
}

#SpellCardButtonContainer
{
	width:100%;
	height: 40px;
	margin-bottom:1%;
	flow-children:left;
}
#ChangeWearableButton
{
	width:47%;
	height: 100%;
	margin-left:2%;
	visibility:collapse;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #45B5EFBB ), to( #20A7F3BB ));
}
#ChangeWearableButton:active
{	
	transform: translate3d(1px, 1px, 0px);
	sound: "ui_settings_multi";
}

#SpellCardButtonClose
{
	width:47%;
	height: 100%;
	margin-left:2%;
	background-color:gradient( linear, 0% 0%, 0% 100%, from( #F5251FBB ), to( #D01763BB ));
}
#SpellCardButtonClose:active
{	
	transform: translate3d(1px, 1px, 0px);
	sound: "ui_settings_multi";
}
#ChangeWearableButton Label
{
	font-family:RadianceM,Radiance,FZLanTingHei-R-GBK,TH Sarabun New,YDYGO 540,Gulim,MingLiU;
	font-size: 24;
	horizontal-align: center;
	vertical-align: middle;
	color:white;
}
#SpellCardButtonClose Label
{
	font-family:RadianceM,Radiance,FZLanTingHei-R-GBK,TH Sarabun New,YDYGO 540,Gulim,MingLiU;
	font-size: 24;
	horizontal-align: center;
	vertical-align: middle;
	color:white;
}

#SpellCardListBase
{
	width:fit-children;
	margin-top:4px;
	margin-bottom:4px;
	flow-children:right;
}

#SpellCardListBase .SpellCardList
{
	margin-left:4px;
	width:fit-children;
	flow-children:down;
}
#SpellCardListBase .SpellCardList .SpellCardSingle
{
	width:fit-children;
	height:36px;
	margin-bottom:4px;
	flow-children:right;
}

.QuasSpellCardSingle
{ 
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #35559F22 ), to( #10176322 ) );
}

.WexSpellCardSingle 
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #3E105044 ), to( #20062B44 ) );
}

.ExortSpellCardSingle
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #8B480A22 ), to( #28140122 ) );
}

#SpellCardListBase .SpellCardList .SpellCardSingle .SpellCardAbilityImagePanel
{
	width:height-percentage( 100% );
	height:100%;
}
#SpellCardListBase .SpellCardList .SpellCardSingle .SpellCardAbilityImagePanel .SpellCardAbilityImage
{
	width:100%;
	height:100%;
}
#SpellCardListBase .SpellCardList .SpellCardSingle .SpellCardCombinationPanel
{
	width:height-percentage( 292.5% );
	height:100%;
	margin-left:2px;
	flow-children:right;
}
#SpellCardListBase .SpellCardList .SpellCardSingle .SpellCardCombinationPanel .SpellCardCombinationSinglePanel
{
	width:height-percentage( 100% );
	height:100%;
	margin-top:2px;
	margin-bottom:2px;
	margin-left:2px;
}

#SpellCardListBase .SpellCardList .SpellCardSingle .SpellCardCombinationPanel .SpellCardCombinationSinglePanel
{
	width:height-percentage( 100% );
	height:100%;
	margin-top:4px;
	margin-bottom:4px;
	margin-left:4px;
}
#SpellCardListBase .SpellCardList .SpellCardSingle .SpellCardCombinationPanel .SpellCardCombinationSinglePanel Label
{
	font-size:20px;
	font-family:Radiance;
	vertical-align:center;
	horizontal-align:middle;
}

.QuasColor 
{ 
	border-color: #0F4E97; 
	background-color: gradient( linear, 0% 100%, 0% 0%, from( #35559F ), to( #101763 ) );
}

.WexColor 
{
	border-color: #442946; 
	background-color: gradient( linear, 0% 100%, 0% 0%, from( #3E1050 ), to( #20062B ) );
}

.ExortColor 
{
	border-color: #703907; 
	background-color: gradient( linear, 0% 100%, 0% 0%, from( #8B480A ), to( #281401 ) );
}


.QuasColor Label
{
	color: #7998b5;
	color: #96D9FF;
}

.WexColor Label
{
	color: #d671a9;
	color: #FAACF6;
}

.ExortColor Label
{
	color: #EDB224;
	color: #FDD336;
}

.QuasColorLabel
{
	color: #7998b5;
	color: #96D9FF;
}

.WexColorLabel
{
	color: #d671a9;
	color: #FAACF6;
}

.ExortColorLabel
{
	color: #EDB224;
	color: #FDD336;
}

#SpellCardListBase .SpellCardList .SpellCardSingle .SpellCardNamePanel
{
	width:130px;
	height:100%;
}

#SpellCardListBase .SpellCardList .SpellCardSingle .SpellCardNamePanel Label
{
	font-family:RadianceM,Radiance,FZLanTingHei-R-GBK,TH Sarabun New,YDYGO 540,Gulim,MingLiU;
	font-size:18px;
	vertical-align:middle;
}

#WearableBase 
{
	visibility:collapse;
	height: fit-children;
	vertical-align: bottom;
	margin-bottom: 250px;
	horizontal-align: middle;
	background-color: #000000CC;
	flow-children: up;
	box-shadow: #000000aa -4px -4px 8px 8px;
}
.WearablePartContainer
{
	width:fit-children;
	vertical-align:top;
	margin-top:5px;
	height:100px;
	background-color: #00000044;
	flow-children:right;
}
.WearablePartName
{
	height:100%;
	width:200px;
	margin-left:5px;
	background-color: #00000099;
}
.WearablePartName Label
{
	font-family:RadianceM,Radiance,FZLanTingHei-R-GBK,TH Sarabun New,YDYGO 540,Gulim,MingLiU;
	font-size: 40;
	horizontal-align: center;
	vertical-align: middle;
	color:white;
	text-transform:uppercase;
}
.WearableDropDownContainer
{
	height:100%;
	width:400px;
	margin-left:5px;
	background-color: #00000099;
	flow-children:down;
}
.WearableDropDownContainerWearable
{
	height:50%;
	width:400px;
	margin-left:5px;
	flow-children:right;
}
.WearableDropDownContainerWearable .LabelContainer
{
	height:100%;
	width:100px;
}
.WearableDropDownContainerWearable .LabelContainer Label
{
	font-family:RadianceM,Radiance,FZLanTingHei-R-GBK,TH Sarabun New,YDYGO 540,Gulim,MingLiU;
	font-size: 20;
	horizontal-align: center;
	vertical-align: middle;
	color:white;
}

.WearableDropDownContainerStyle
{
	height:50%;
	width:400px;
	margin-left:5px;
	flow-children:right;
	visibility:collapse;
}
.WearableDropDownContainerStyle .LabelContainer
{
	height:100%;
	width:100px;
}
.WearableDropDownContainerStyle .LabelContainer Label
{
	font-family:RadianceM,Radiance,FZLanTingHei-R-GBK,TH Sarabun New,YDYGO 540,Gulim,MingLiU;
	font-size: 20;
	horizontal-align: center;
	vertical-align: middle;
	color:white;
}
.WearableDropDownContainer DropDown
{
	width: 300px;
	horizontal-align:middle;
	vertical-align:center;
	flow-children:down;
}
.WearableDropDownContainer DropDown:focus .label_color_immortal
{
	color:rarity_color_immortal;
}

.WearableDropDownContainer DropDown:focus .label_color_rare
{
	color:rarity_color_rare;
}

.WearableDropDownContainer DropDown:focus .label_color_common
{
	color:rarity_color_common;
}

.WearableDropDownContainer DropDown:focus .label_color_uncommon
{
	color:rarity_color_uncommon;
}

.WearableDropDownContainer DropDown:focus .label_color_mythical
{
	color:rarity_color_mythical;
}

.WearableDropDownContainer DropDown:focus .label_color_legendary
{
	color:rarity_color_legendary;
}

.WearableDropDownContainer DropDown:focus .label_color_ancient
{
	color:rarity_color_ancient;
}

.WearableDropDownContainer DropDown:focus .label_color_arcana
{
	color:rarity_color_arcana;
}

.WearableDropDownContainer DropDown:focus .label_color_seasonal
{
	color:rarity_color_seasonal;
}
.WearableDropDownContainer DropDown Label
{
	font-size:20px;
}

.WearableConfirmButtonContainer
{
	height:100%;
	width:height-percentage( 100% );
	margin-left:5px;
}
.WearableConfirmButtonContainer Button
{
	height:50%;
	width:100%;
	horizontal-align:middle;
	vertical-align:center;
	background-color: gradient( linear, 0% 100%, 0% 0%, from( #5555FF ), to( #404090 ) );
}
.WearableConfirmButtonContainer Button:active
{
	transform: translate3d(1px, 1px, 0px);
	sound: "ui_settings_multi";
}
.WearableConfirmButtonContainer Button Label
{
	font-family:RadianceM,Radiance,FZLanTingHei-R-GBK,TH Sarabun New,YDYGO 540,Gulim,MingLiU;
	font-size: 30;
	horizontal-align: center;
	vertical-align: middle;
	color:white;
}
.WearableImageContainer 
{
	height:100%;
	width:128px;
	margin-left:5px;
}

.WearableImageContainer Image
{
	height:82px;
	width:128px;
	horizontal-align: center;
	vertical-align: middle;
}

.WearableResetButtonContainer
{
	height:100%;
	width:height-percentage( 100% );
	margin-left:5px;
}
.WearableResetButtonContainer Button
{
	height:50%;
	width:100%;
	horizontal-align:middle;
	vertical-align:center;
	background-color: gradient( linear, 0% 100%, 0% 0%, from( #5555FF ), to( #404090 ) );
}
.WearableResetButtonContainer Button:active
{
	transform: translate3d(1px, 1px, 0px);
	sound: "ui_settings_multi";
}
.WearableResetButtonContainer Button Label
{
	font-family:RadianceM,Radiance,FZLanTingHei-R-GBK,TH Sarabun New,YDYGO 540,Gulim,MingLiU;
	font-size: 30;
	horizontal-align: center;
	vertical-align: middle;
	color:white;
}
#CloseButtonContainer
{
	width:100%;
	margin:5px;
	vertical-align:top;
	height:50px;
}

#WearableCloseButton
{
	width:98%;
	height: 100%;
	margin-left:1%;
	background-color:gradient( linear, 0% 0%, 0% 100%, from( #F5251FBB ), to( #D01763BB ));
}

#WearableCloseButton:active
{	
	transform: translate3d(1px, 1px, 0px);
	sound: "ui_settings_multi";
}
#WearableCloseButton Label
{
	font-family:RadianceM,Radiance,FZLanTingHei-R-GBK,TH Sarabun New,YDYGO 540,Gulim,MingLiU;
	font-size: 24;
	horizontal-align: center;
	vertical-align: middle;
	color:white;
}