.EndScreenRoot
{
	width: 100%;
    height: 100%;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #000000FF ), color-stop( 0.12, #000000ff ), color-stop( 0.5, #00000022 ), to( #00000000 ) );
}

.RecipeContainer
{
	wash-color: #d8984bff;
	width: 100%;
	height: 100%;
	contrast: .9;
	background-color: black;
	opacity-mask: url("s2r://panorama/images/items/recipe_opacity_mask_nopurchase_psd.vtex");
}

.RecipeContainer Image
{
	opacity: 1;
	saturation: 0.25;
	brightness: 2.0;
	pre-transform-scale2d: .7;
	transform: rotateZ(-8deg) rotateY(30deg) translateX(2px) translateY(1px);
	border-radius: 1px;
	opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");
}

#VictoryRow
{
	flow-children: right;
    horizontal-align: right;
	margin-right: 8px;
	margin-bottom: 16px;

	transition-property: opacity, transform;
    transition-duration: 1s;
	opacity: 0;
	transform: scaleX(0) scaleY(0) translatey(-50px); 
}

.Legend
{
	width: 100%;
    background-color: #000000;
	margin-top: 1px;
	margin-bottom: -1px;
}

#RadiantHeader
{
	border-bottom: 1px solid #4a9820;
}

#DireHeader
{
	border-bottom: 1px solid #a52500;
}

.LegendPanel .TeamLabel
{
	margin-left: 4px;
	letter-spacing: 3px;
	font-size: 24px;
	text-transform: uppercase;
	vertical-align:middle;
}

#RadiantLabel
{
	color: #4a9820;
}

#DireLabel
{
	color: #a52500;
}

.endgame #VictoryRow
{
	opacity: 1;
	transform: scaleX(1) scaleY(1);
}

#WinningTeamLogo
{
	vertical-align: center;
	margin-right: 16px;
}

#EndScreenVictory
{
    font-size: 64px;
    color: #cccccc;
	vertical-align: center;

	text-transform: uppercase;
	margin-bottom: -16px;
}

.EndScreenWindow
{
    margin-top: 50px;
    margin-right: 200px;
    flow-children: down;
    horizontal-align: right;
	flow-children: down;
}

.AspectRatio4x3 .EndScreenWindow, .AspectRatio5x4 .EndScreenWindow
{
    margin-right: 50px;
}

.EndScreenVictoryRow
{
	width: 100%;
}

#CloseButton
{
	background-color: #121618;
	border: 3px solid #4d5051;
    margin-top: 10px;
    horizontal-align: right;
	vertical-align: bottom;
	width: 200px;
}

#CloseButton:hover
{
	border: 3px solid white;
}

#CloseButton Label
{
    horizontal-align: center;
	vertical-align: center;
	color: #6f6f6f;
	text-transform: uppercase;
}

#CloseButton:hover Label
{
	color: white;
}

.FlyoutScoreboardRoot.flyout_scoreboard_visible
{
    transform: translatey( 0px );
}

#TeamsContainer
{
	horizontal-align: right;
    flow-children: down;
	background-color: #00000088;
}

.FlyoutTeam
{
    transition-property: opacity, transform;
    transition-duration: 0.5s;
	opacity: 0;
	transform: translatey(-50px);
}

.FlyoutTeam.local_player_team
{
}

.FlyoutTeam.team_endgame
{
	opacity: 1;
	transform: translatey(0px);
}

.FlyoutTeam.no_players
{
	visibility: collapse;
}

.FlyoutTeamData
{
    flow-children: right;
}

.TeamInfo
{
	margin-top: 1px;
	height: 100%;
}

#TeamColor_GradentFromTransparentLeft
{
	width: 100%;
	height: 100%;
}

.FlyoutPlayer
{ 
    flow-children: right;
}

.TeamCloseSpacer
{
}

#PlayersContainer
{
    flow-children: down;
}

.local_player_team #PlayersContainer
{
    box-shadow: fill #ffffff40 -3px -3px 3px 6px;
}

.TeamId
{
    flow-children: right;
}

#TeamLogo
{
	vertical-align: top;
	horizontal-align: right;
    height: 30px;
    width: 30px;
	margin-top: 2px;
	margin-right: 2px;
}

#TeamScorePanel
{
	margin-top: 1px;
	margin-left: 226px;
	width: 79px;
	height: 100%;
    background-color: #000000;
}

#TeamScore
{
	vertical-align: center;
	horizontal-align: center;
	color: #cccccc;
	font-size: 32px;
	text-shadow: 2px 2px 2px black;
	font-weight: bold;
	margin-top: -2px;
}

.one_player #TeamScore
{
	font-size: 30px;
}

.local_player_team #TeamScore
{
	color: white;
}

.Legend
{
	flow-children: right;
	horizontal-align: right;
}

.Legend Label
{
	text-transform: uppercase;
	font-size: 12px;
	color: #90999b;
}

.PlayerRow
{
	height: 32px;
}

#PlayerRowContainer
{
	flow-children: right;
	height: 32px;
}

#HeroIcon
{
    vertical-align: middle;
	border: 1px solid black;
}

#LevelContainer,
#KillsContainer,
#DeathsContainer,
#AssistsContainer
{
	height: 100%;
}

.ScoreboardPanel
{
    background-color: #000000;
	margin-top: 1px;
	margin-left: 1px;
	height: 100%;
}

.LegendPanel
{
	margin-top: 1px;
	margin-left: 1px;
	vertical-align: bottom;
}

.ScoreboardPanel Label
{
	font-size: 30px;
	text-shadow: 2px 2px 2px black;
	margin-top: -2px;
}

.UltimateIndicatorShared
{
	margin-left: 44px;
	margin-top: 2px;
	vertical-align: center;
	width: 20px;
	height: 20px;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#Level
{
	vertical-align: middle;
	horizontal-align: center;
	color: #898b8c;
}

#Kills,
#Deaths,
#Assists,
#PlayerGoldAmount,
#PlayerDamage,
#PlayerGPM,
#PlayerXPM,
#BuildingDamage
{
	horizontal-align: center;
	vertical-align: center;
	text-align: center;
	font-size: 20px;
	margin-top: 3px;
}

#PlayerGoldAmount
{
}

#PlayerName
{
	font-size: 14px;
	font-weight: bold;
	margin-bottom: -4px;
	margin-top: 0px;
	padding-left: 4px;
	color: #cccccc;
	white-space: nowrap;
}

#HeroNameAndDescription
{
	padding-left: 4px;
	font-size: 13px;
	text-shadow: 2px 2px 2px black;
	margin-top: 0px;
	color: #999999;
	vertical-align: bottom;
}

#PlayerDetailsContainer
{
	height: 100%;
}

#PlayerAndHeroName
{
	height: 100%;
}

#PlayerItemsContainer
{
	flow-children: right;
}

#PlayerItemsContainer Image
{
	margin: 1px;
	width: 41px;
	height: 30px;
	box-shadow: gold 0px 0px 1px 0px;
	background-color: #000000;
}

.NeutralItemHole
{
	opacity-mask: url( "file://{images}/upper_row_mask.tga" );
}

#PlayerItemsContainerBackPack
{
	flow-children: right;
}

.BackPackImage
{
	margin: 1px;
	width: 33px;
	height: 24px;
	box-shadow: gold 0px 0px 1px 0px;
	background-color: #000000;
}



.is_local_player Label
{
	color: white;
}

.ScoreCol_TeamInfoAndHero
{
	width: 225px;
}

.ScoreCol_TeamInfo
{
	width: 80px;
}
.ScoreCol_PlayerDetails
{
	width: 170px;
}

.ScoreCol_TeamScore
{
	width: 80px;
	text-align: center;
	vertical-align:middle;
} 

.ScoreCol_Hero
{
	width: 53px;
}

.ScoreCol_Level
{
	width: 50px;
	text-align: center;
}

.ScoreCol_Kills,
.ScoreCol_Deaths,
.ScoreCol_Assists
{
	width: 50px;
	text-align: center;
	vertical-align:middle;
}

.ScoreCol_Items
{
	width: 477px;
	text-align: center;
	vertical-align:middle;
}
.ScoreCol_ItemsSeperation
{
	width: 23px;
	background-color:blue;
	vertical-align:middle;
}


#PlayerGoldAmount
{
	horizontal-align: center;
	vertical-align: center;
	text-align: center;
	font-size: 20px;
	margin-top: 3px;
}
.ScoreCol_Gold
{
	width: 70px;
	text-align: center;
	vertical-align:middle;
}


.ScoreCol_Damage
{
	width: 90px;
	text-align: center;
	vertical-align:middle;
}
.ScoreCol_GPM
{
	width: 70px;
	text-align: center;
	vertical-align:middle;
}

.ScoreCol_XPM
{
	width: 70px;
	text-align: center;
	vertical-align:middle;
}


.ScoreCol_buff
{
	width: 170px;
	text-align: center;
	vertical-align:middle;
}
